<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <ConnectionStrings>
        <add name= ".Oficina.Properties.Settings.ConnectionString"
             connectionString="Data Source=ADAM001\SQLEXPRESS01;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
        <add name="Oficina.Properties.Settings.MecanicaDBConnectionString"
             connectionString="Data Source=ADAM001\SQLEXPRESS01;Initial Catalog=MecanicaDB;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
        <add name="Oficina.Properties.Settings.MecanicaDBConexao"
             connectionString="Data Source=localhost\BDparaEscola;Initial Catalog=MecanicaDB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </ConnectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>